<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1> Home de navegacao </h1> <p> Exercicio da aula 2</p> 
    <p><a id="formulario" href="/formulario"> formulario </a></p>
    <p><a id="page2" href="/pagina2"> Page 2 </a></p>
</body>
</html>