<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PAge 2 de teste</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam id, ullam, distinctio, reprehenderit quo autem error nisi commodi vero voluptates magnam? Odit repellat minus iste ullam ducimus? Dolores, aliquam similique.</p>
    <p><a id="voltarHome" href="/home">Voltar</a></p>
</body>
</html>