doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- Importanto uma pasta de javaScript
    script(scr='/javascript/myJs.js')
  body
    block content
    
