extends layout

block content
    h1= name
    p Welcome to #{name}
    div.blue
        p Teste 
        p Alo 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae tenetur, quidem recusandae delectus ipsam ut porro atque voluptate ratione obcaecati, asperiores consequatur quis dolore assumenda dolorum autem laborum pariatur? Praesentium.
    a(href="/") voltar