extends layout

block content
  h1= title 
  table 
    tr 
      td 
        li
          a(href="/formulario") Formulario
        li 
          a(href="/calculadora") Calculadora
        li 
          a(href="/paginaRandom") Pagina Random
