extends layout

block content
    h1= title
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio autem aliquam assumenda iusto recusandae architecto, veritatis eius reprehenderit, quod aperiam qui est, iste vel dignissimos facere at animi eum magni.
    a.btn.btn-primary(href="/") Voltar